body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #eecda3, #ef629f); 
   
    
  }

  h1 {
    margin-top: 50px;
    color: rgb(77, 160, 190);
  }

  p , footer{
    margin: 20px 0;
    color: rgb(77, 160, 190);
  }

  input[type="text"] {
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
    margin: 10px 0;
    color: #ef629f;
    background-color: rgba(186, 219, 237, 0.775);
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px 0;
    background: linear-gradient(to right, #eecda3, #ef629f); 
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  button:active {
    transform: scale(0.9);
  }

  #output {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(77, 160, 190);
  }
  footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
